# Environment variables
.env
.env.local


# Ignore local settings
local_settings.py

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# IDE/Editor
.vscode/
.idea/

# Static files
staticfiles/

# Python
venv/
env/
*.env
